*{
margin:0;padding:0;box-sizing:border-box;
-webkit-tap-highlight-color:transparent;
user-select:none;touch-action:manipulation
}
body{
background:#05000a;
color:white;
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center
}
.box{
width:90%;
max-width:400px;
background:#0a0a14;
padding:25px;
border-radius:20px;
text-align:center
}
.btn{
width:100%;
padding:15px;
margin:8px 0;
border:none;
border-radius:14px;
background:linear-gradient(135deg,#ff2bd6,#8f00ff);
color:white;
font-weight:bold
}
.alert{display:none;color:#8cff8c;margin-top:10px}
#qrisImg{display:none;width:200px;margin-top:15px}
.music-btn{margin-top:15px;color:#ff8fe8}
/* ==== TAMBAHAN REVISI ==== */
.number-box{
display:none;
margin:12px 0;
background:#111;
border-radius:12px;
padding:10px;
text-align:left;
box-shadow:0 0 10px #ff2bd6
}
.number-box span{
font-size:12px;
color:#ff8fe8
}
.number-box input{
width:100%;
margin-top:5px;
padding:10px;
border:none;
border-radius:8px;
background:#000;
color:#00ffcc;
font-weight:bold;
font-size:15px
}

.qris-box img{
display:none;
width:220px;
margin:15px auto;
border-radius:14px;
box-shadow:0 0 15px #ff2bd6
}

.download-btn{
margin-top:10px;
display:none;
background:linear-gradient(135deg,#00ffcc,#00bfff);
box-shadow:0 0 15px #00ffcc
  }
