*{
margin:0;padding:0;box-sizing:border-box;
-webkit-tap-highlight-color:transparent;
user-select:none;touch-action:manipulation
}
body{
background:#05000a;
color:white;
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center
}
.box{
width:90%;
max-width:400px;
background:#0a0a14;
padding:25px;
border-radius:20px;
text-align:center
}
.btn{
width:100%;
padding:15px;
margin:8px 0;
border:none;
border-radius:14px;
background:linear-gradient(135deg,#ff2bd6,#8f00ff);
color:white;
font-weight:bold
}
.alert{display:none;color:#8cff8c;margin-top:10px}
#qrisImg{display:none;width:200px;margin-top:15px}
.music-btn{margin-top:15px;color:#ff8fe8}