*{
margin:0;padding:0;box-sizing:border-box;
-webkit-tap-highlight-color:transparent;
user-select:none;touch-action:manipulation
}
/* ===== BACKGROUND NEON PINK ===== */
body{
background:
radial-gradient(circle at 20% 20%, rgba(255,45,214,0.35), transparent 40%),
radial-gradient(circle at 80% 30%, rgba(255,120,220,0.35), transparent 45%),
radial-gradient(circle at 50% 80%, rgba(255,80,200,0.35), transparent 50%),
linear-gradient(120deg, #05000a, #120015, #05000a);
background-size: 200% 200%;
animation: bgMove 18s ease-in-out infinite;
color:white;
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

@keyframes bgMove{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

/* ===== EMOJI TERBANG PINK ===== */
.bg-decor{
position:absolute;
left:var(--x);
font-size:var(--size);
opacity:0.75;
animation: floatUp var(--speed) linear infinite;
animation-delay: var(--delay);
filter: drop-shadow(0 0 8px rgba(255,80,200,0.85));
pointer-events:none;
}

@keyframes floatUp{
from{transform:translateY(120vh) rotate(0deg)}
to{transform:translateY(-30vh) rotate(360deg)}
}
/* ==== TAMBAHAN REVISI ==== */
.number-box{
display:none;
margin:12px 0;
background:#111;
border-radius:12px;
padding:10px;
text-align:left;
box-shadow:0 0 10px #ff2bd6
}
.number-box span{
font-size:12px;
color:#ff8fe8
}
.number-box input{
width:100%;
margin-top:5px;
padding:10px;
border:none;
border-radius:8px;
background:#000;
color:#00ffcc;
font-weight:bold;
font-size:15px
}

.qris-box img{
display:none;
width:220px;
margin:15px auto;
border-radius:14px;
box-shadow:0 0 15px #ff2bd6
}

.download-btn{
margin-top:10px;
display:none;
background:linear-gradient(135deg,#00ffcc,#00bfff);
box-shadow:0 0 15px #00ffcc
  }
